/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0; 
    background-image: url('imagenes/v1008-25-a.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    align-items: center; 
    color: #7a4019; 
    font-family: 'Poppins-SemiBold';
    
}

.icon-cart{
    margin-top: 60px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    stroke: #523f29;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 60%;
    right: 20px;

    background-color: #ebcdaa;
    color: #fff;
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 120px;
    right: 0;

    background-color: #fff;
    width: 650px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.imagen-producto {
    width: 60px; 
    height: auto; 
    object-fit: cover; 
}

.titulo-producto-carrito{
    font-size: 15px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 15px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 15px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}





nav {
    position: relative;
    margin-top: -80px; 
    margin-bottom: 100px;
}


nav ul {
    display: flex; 
    list-style-type: none; 
    margin-right: 70px; 
    padding: 0; 
    justify-content: right;
}

nav ul li {
    margin-right: 70px;
    margin-top: -30px;
}

nav ul li a {
    text-decoration: none; 
    font-size: 16px; 
    color: #523f29; 
    font-family: 'Courier New';
    cursor: pointer;
}

h1 {
    text-align: left center; 
    margin-left: none; 
    margin-top: 20px; 
    font-size: 50px; 
    margin-left: 70px;
}

#box1 {
    margin-bottom: 10px; 
}

#box2 {
    margin-top: -10px;
}

nav ul li a.active {
    color: #ffffff; 
    background-color: #523f29; 
    border: 2px solid #523f29; 
    font-weight: bold; 
}






.products {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    width: 95%; 
    margin: 0 auto; 
}

.product:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
.info-producto{
padding: 15px 30px;
line-height: 2;
display: flex;
flex-direction: column;
color: #9b7850;
}

.price{
  font-size: 18px;
  font-weight: 900;  
}

.info-producto button{
    border:none;
    background: none;
    background-color: #523f29;
    color:#fff;
    padding: 15px 30px;
    cursor: pointer;

}

.product {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.product img {
    width: 170px; 
    height: 170px; 
    object-fit: cover; 
    transition: all .5s;
}

.product figure{
    overflow:hidden;
}

.product:hover img{
    transform: scale(1.2);
}

.social-media img {
    width: 45px; 
    height: auto;
    margin-left: 40px; 
}

.cart-empty{
    padding: 20px;
    text-align:center;

}
.hidden {
    display: none; 
}

